<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/buser/{{model.uid}}">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Profile
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div style="text-align: center">
                <h4 style="text-align: center"><b>MANAGE CHECK-INS</b></h4>
            </div>
        </div>
    </div>
</nav>


<section id="checkin" class="semi-top-padding">
    <div class="container-fluid">
        <h3>click on anyone to serve</h3>
        <div class="list-item" ng-repeat="checkin in model.checkins">
            <a ng-click="model.serveCheckIn(checkin._id)" class="mouse-pointer">
                {{$index+1}}. {{checkin.FirstName}} {{checkin.LastName}}
            </a>
        </div>
    </div>
</section>