
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Check Me In</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right" ng-hide="model.isLoggedIn()">
                <li>
                    <a class="modal-link" ng-click="" data-toggle="modal" data-target="#buModal">Business Login</a>
                </li>
                <li>
                    <a class="modal-link" ng-click="" data-toggle="modal" data-target="#cuModal">Customer Login</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-show="model.isLoggedIn()">
                <li>
                    <a href="#profile" data-toggle="modal">Profile</a>
                </li>
                <li>
                    <a ng-click="model.logout()">Logout</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="modal fade" id="buModal" ng-include="'views/user/bus.login.view.client.html'"></div>
<div class="modal fade" id="cuModal" ng-include="'views/user/cust.login.view.client.html'"></div>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">{{model.bName}}</h1>
            <hr>
            <h3>Estimated Wait Time : {{model.waitTime}}</h3>
            <h3>People before you : {{model.people}}</h3>
            <!--<p>Check Me In puts businesses first! Create a business account to get started.</p>-->
            <!--<a href="#check-me-in" class="btn btn-primary btn-xl page-scroll">Check Me In</a>-->
            <!--<a href="#" class="btn btn-primary btn-xl page">Check Me In</a>-->
            <a class="btn btn-primary btn-xl" ng-click="model.checkIn()" data-toggle="modal" data-target="#cInModal">Check In</a>

            <!--<a class="btn btn-primary btn-xl page-scroll" href="#reviews">Reviews</a>-->
            <a class="btn btn-primary btn-xl " href="#/check-in/{{model.name}}/{{model.branch}}/reviews">reviews</a><br>
        </div>
    </div>
</header>

<div class="modal fade" id="cInModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Check-In</h4>
            </div>
            <div class="modal-body">
                <div ng-show="model.error" class="alert alert-danger" role="alert">
                    {{model.error}}
                </div>
                <div ng-hide="model.error">
                    <h4>Checked-In Successfully
                        <i style="color: forestgreen;" class="fa fa-check" aria-hidden="true"></i>
                    </h4>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
            </div>
        </div>
    </div>
</div>