<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/buser/{{model.uid}}">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Profile
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div style="text-align: center">
                <h4 style="text-align: center"><b>SELECT YOUR BRANCH</b></h4>
            </div>
            <!--<a class="btn" ng-click="">MANAGE CHECK-IN</a>-->
        </div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section id="branches">
    <!--<div class="container-fluid">
        <div class="list-item" ng-repeat="branch in model.bbranches">
            <a href="#/user/{{model.userId}}/website/{{website._id}}/page">{{item.fullName}}</a>
            <a href="#/user/{{model.userId}}/website/{{website._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </div>
    </div>-->
    <div class="container">
        <div class="row">
            <h1></h1>
            <div class="col-lg-3 col-md-6 text-center" ng-repeat = "bbranch in model.bbranches" style="padding:20px;">
                <div>
                    <!--<a class="btn" href="#/buser/{{model.uid}}/branch/{{result._id}}">-->
                    <a class="btn">
                        <!--<h4>{{bbranch.address}}</h4>-->
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>