<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/buser/{{model.uid}}">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Profile
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div style="text-align: center">
                <h4 style="text-align: center"><b>SELECT YOUR BRANCH</b></h4>
            </div>
        </div>
    </div>
</nav>

<section id="branches">
    <div class="container">
        <div class="row">
            <h1></h1>
            <div class="col-lg-3 col-md-6 text-center branch-list-outer-box" ng-repeat = "bbranch in model.bbranches">
                <div class="branch-list">
                    <h3>{{bbranch.name}}</h3>
                    <h5 class="text-muted">{{bbranch.address}}</h5>
                    <a class="break-all btn" href="#/buser/{{model.uid}}/branch/{{bbranch._id}}">Select this branch</a>
                </div>
            </div>
        </div>
    </div>
</section>